[workspace]
name = "pixi-skills"
channels = ["conda-forge"]
platforms = ["osx-arm64", "osx-64", "linux-64", "win-64"]

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."

[dependencies]
python = ">=3.13"
pip = "*"
hatchling = "*"
typer = ">=0.12"
rich = ">=13"
questionary = ">=2"
pyyaml = ">=6"

[feature.test.dependencies]
pytest = "*"
pytest-cov = "*"
ty = "*"
[feature.test.tasks]
test = "pytest"
test-coverage = "pytest --cov=pixi_skills --cov-report=xml --cov-report=term-missing"

[feature.build.dependencies]
python-build = "*"
twine = "*"
wheel = "*"
[feature.build.tasks]
build-wheel = "python -m build --no-isolation ."
check-wheel = "twine check dist/*"

[feature.lint.dependencies]
pre-commit = "*"
insert-license-header = "*"
docformatter = "*"
ruff = "*"
taplo = "*"
pre-commit-hooks = "*"
typos = "*"
[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run -a"

[feature.py313.dependencies]
python = "3.13.*"

[environments]
default = ["test"]
py313 = ["py313", "test"]
build = ["build"]
lint = { features = ["lint"], no-default-feature = true }
